
@{
    ViewBag.Title = "Đặt sự kiện";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .thumb {
        width: 400px;
        height: 300px;
        background-color: transparent;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .card {
        margin-bottom: 30px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .card-img-top {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .card-body {
        padding: 10px;
    }

    .card-title {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
    }

    .card-text {
        font-size: 23px;
    }
</style>

<header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/images/.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>
<br />
<br />



<div id="slider"></div>

<script>
    function clickImg(id) {
        $.ajax({
            url: "/Home/Slider/" + id,
            type: "GET",
            success: function (data) {
                $("#slider").html(data);
            }
        });
    }
</script>

<div class="panel-body">
    <div class="panel-heading">
        <h2 class="">Trang đăng kí và đặt sự kiện</h2>
    </div>
    <div class="">
        <h2 style="margin-left:-10px">Chào mừng đến với Trung tâm thể dục thể thao Quận 10</h2>
        <h3>Luôn tổ chức các hoạt động , sự kiện thể thao nhằm cung cấp cho người dùng những trải nghiệm tốt nhất cho sức khẻo , tinh thần.</h3>
        <table>
            <tr>
                <th><img src="~/Content/Images/Sự kiện/fs.jpg" class="img-gt" style="width:600px"></th>
                <th>
                    <h2 style="align-items:start">U20 Futsal Thái Sơn Nam chia điểm với U20 Tân Hiệp Hưng</h2>
                    So với lượt trận đầu tiên, U20 Tân Hiệp Hưng là đội bóng được đánh giá cao hơn so với U20 Thái Sơn Nam.
                    Thế nhưng rất bất ngờ, U20 Thái Sơn Nam chơi cực hay và nhập cuộc tốt hơn so với Tân Hiệp Hưng.
                    Hiện cả hai đội bóng vẫn đang truyển thêm dự bị nhằm tìm kiếm tài năng và có cơ hội giao lưu với các đội bóng lớn

                </th>
            </tr>
            <tr style="margin-top:48px">
                <td>       <img src="~/Content/Images/Sự kiện/bd1.png" alt="Image" class="img-gt" style="width:800px"></td>
                <td>
                    <h2>Khởi động Giải Bóng đá Sinh viên TP. Hồ Chí Minh năm 2022</h2>
                    Tiếp nối những thành công của Giải bóng đá Sinh viên TP. Hồ Chí Minh các năm trước, nhằm tạo điều kiện cho sinh viên trên địa bàn TP. Hồ Chí Minh có môi trường vui chơi,
                    rèn luyện sức khỏe, thể chất và bày tỏ niềm đam mê với thể thao cũng như hướng đến kỷ niệm 47 năm ngày Giải phóng miền Nam – thống nhất đất nước (30/4/1975 – 30/4/2022).
                    Nhà Văn hóa Sinh viên TP. Hồ Chí Minh phối hợp cùng Đoàn trường Đại học Giao thông Vận tải phân hiệu tại TP. Hồ Chí Minh tổ chức Giải Bóng đá Sinh viên TP. Hồ Chí Minh năm 2022.
                </td>
            </tr>

            <tr>
                <td> <img src="~/Content/Images/Sự kiện/br.jpg" alt="Image" class="img-gt" style="height:450px"></td>
                <td>
                    <h2 style="align-content:flex-start">
                        GIẢI BÓNG RỔ 3X3 LẦN II NĂM HỌC 2022-2023
                    </h2>
                    Thời gian tổ chức: Dự kiến từ ngày 01/08/2023 – 17/08/2023.
                    Địa điểm tổ chức: Sân bóng rổ Trường Đại học Phan Thiết, địa chỉ:10 QL22, Tân Xuân, Hóc Môn, Thành phố Hồ Chí Minh.
                    Thời gian bốc thăm: Lúc 9h00, ngày 15/08/2023 tại sảnh chính Trường Đại học Huflit cơ sở Hóc môn.

                    Các hoạt động tổ chức theo phương châm “Vui tươi, lành mạnh, đoàn kết, an toàn, tiết kiệm” và bảo đảm an ninh chính trị, trật tự, an toàn trong và ngoài trường.
                    Các đơn vị phải chấp hành nghiêm túc các quy định của Ban Tổ chức và Điều lệ giải. Tham gia với tinh thần đoàn kết, trung thực, cao thượng và đúng đối tượng.

                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/Content/Images/Sự kiện/bl.jpg" width="474" height="279" alt="Image" class="img-gt" style="width:800px ;height:600px">
                </td>
                <td>
                    <h2> Giải Bơi học sinh phổ thông toàn quốc năm 2022 tổ chức vào tháng 6</h2>
                    Giải Bơi học sinh phổ thông toàn quốc năm 2022 sẽ diễn ra từ ngày 8-13/8/2023 tại Trung tâm thể dục thể thao thành phố HCM.
                    <br />
                    Nhằm đẩy mạnh phong trào tập luyện, thi đấu môn bơi nâng cao sức khỏe, bảo vệ bản thân phòng, chống tai nạn đuối nước;
                    Phát huy vai trò, trách nhiệm của các cấp, các ngành và toàn thể xã hội trong công tác phòng, chống đuối nước trẻ em, học sinh;
                </td>
            </tr>
        </table>

    </div>
</div>
<div id="ff-compose"></div>
<script async defer src="https://formfacade.com/include/104158312988457967278/form/1FAIpQLSfk6l_3Ma9FczpFtX9F-9Uexb-mJS2jXGEouPsxR-VjnNmwnw/clean.js?div=ff-compose"></script>

<div id="ff-compose"></div>
<script async defer src="https://formfacade.com/include/104158312988457967278/form/1FAIpQLSfk6l_3Ma9FczpFtX9F-9Uexb-mJS2jXGEouPsxR-VjnNmwnw/clean.js?div=ff-compose"></script>
