
@{
    ViewBag.Title = "Ads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/images/.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>
<div class="container">
    <br /><br /><br /><br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Giới Thiệu </h2>
        </div>
        <div class="panel-body">
            <h3>Chào mừng đến với Trung tâm thể dục thể thao Quận 10</h3>
            <video controls autoplay loop width="100%" height="650px">
                <source src="~/Content/Home/images/gioithieu.mp4">
            </video>
            <p>
                Chào mừng bạn đến với sân vận động chúng tôi - nơi mang đến cho bạn những trải nghiệm thể thao đáng nhớ với không gian rộng rãi,
                thoáng mát và đội ngũ nhân viên nhiệt tình, chuyên nghiệp.
                Sân vận động của chúng tôi được thiết kế đặc biệt để đáp ứng tất cả nhu cầu và mong muốn của bạn trong việc tham gia các hoạt động thể thao.
                Với diện tích rộng lớn, chúng tôi cam kết mang đến
                không gian thoải mái và đáng yêu cho bạn cùng gia đình và bạn bè thưởng thức những khoảnh khắc vui chơi,
                rèn luyện sức khỏe và tận hưởng những giây phút tràn đầy niềm vui.
                <img src="~/Content/Home/images/bd 1.jpg" class="img-gt">
                Sân đá bóng: Không gian rộng rãi, sân cỏ mềm mại, đáp ứng mọi nhu cầu cho các trận đấu sôi động cùng bạn bè và đồng đội.
                Nhân viên nhiệt tình, hỗ trợ chu đáo để bạn có một trận đấu đáng nhớ.
                <img src="~/Content/Home/images/hb 1.jpg" alt="Image" class="img-gt">
                Hồ bơi: Bể bơi thoáng đãng, nước trong xanh và sạch sẽ, lý tưởng cho việc tận hưởng những giây phút bơi lội thư giãn.
                Nhân viên phục vụ chuyên nghiệp, đảm bảo an toàn và tận tâm đồng hành cùng bạn.
                <img src="~/Content/Home/images/cl 1.jpg" alt="Image" class="img-gt">
                Sân cầu lông: Khu vực chuyên dành cho các tín đồ cầu lông, đảm bảo điều kiện tốt nhất để rèn luyện kỹ thuật và thể lực.
                Nhân viên luôn sẵn sàng hỗ trợ và đáp ứng mọi yêu cầu của bạn.
            </p>
            <h3>Hãy đến và trải nghiệm ngay, chúng tôi cam kết mang đến cho bạn những khoảnh khắc thể thao tuyệt vời và đáng nhớ tại sân vận động của chúng tôi.</h3>
            <p>
                Vị trí trung tâm: Sân vận động của chúng tôi nằm ở vị trí trung tâm của thành phố, thuận tiện và dễ dàng tiếp cận từ mọi nơi.
                Bạn sẽ không phải đi xa để tìm đến không gian thể thao lý tưởng.
                <img src="~/Content/Home/images/vd 1.png" alt="Image" class="img-gt">
                Không gian năng động: Sân vận động được thiết kế với không gian rộng rãi, đảm bảo đáp ứng mọi nhu cầu của các hoạt động thể thao đa dạng. Từ sân bóng đá, sân cầu lông, đến hồ bơi và nhiều hoạt động thể thao khác, chúng tôi sẵn lòng phục vụ bạn
                Tinh thần thể thao luôn đổi mới: Chúng tôi luôn duy trì không khí sôi động và tinh thần thể thao năng động tại sân vận động. Đội ngũ nhân viên nhiệt tình và chuyên nghiệp luôn hỗ trợ và tạo điều kiện tốt nhất cho các hoạt động thể thao của bạn.
                Chúng tôi không ngừng cập nhật và đổi mới để đáp ứng sự đa dạng và đòi hỏi ngày càng cao của cộng đồng thể thao.
                <img src="~/Content/Home/images/h1.jpg" alt="Image" class="img-gt">
                Chúng tôi tự hào là một trung tâm thể thao đa năng, không chỉ cung cấp không gian vận động tuyệt vời mà còn đem đến những dịch vụ dạy học chất lượng trực tiếp tại trung tâm.

                Những dịch vụ dạy học tại trung tâm của chúng tôi được thiết kế để đáp ứng nhu cầu và mục tiêu học tập của từng cá nhân. Chúng tôi có đội ngũ giáo viên và huấn luyện viên chuyên nghiệp, giàu kinh nghiệm và tận tâm, sẵn lòng hỗ trợ và đồng hành cùng
                học viên trên hành trình rèn luyện và nâng cao kỹ năng thể thao.
                <br />
                1.Dạy học cá nhân: Chúng tôi cung cấp các lớp học cá nhân, giúp học viên có thể tập trung vào từng kỹ năng cụ thể và nhận được sự chỉ dẫn cá nhân chuyên sâu.
                <br />
                2.Dạy nhóm: Đối với những người muốn rèn luyện trong môi trường nhóm, chúng tôi có các lớp học nhóm với kích thước nhỏ, đảm bảo mọi người được chú trọng và hỗ trợ tốt nhất.
                <br />
                3.Dạy huấn luyện đội: Chúng tôi cũng cung cấp dịch vụ dạy huấn luyện đội cho các câu lạc bộ, đội tuyển hoặc nhóm thể thao, giúp họ đạt được thành tích cao nhất trong các giải đấu.
                <br />
                4.Dạy học đặc biệt: Ngoài các môn thể thao phổ biến, chúng tôi cũng cung cấp các lớp học đặc biệt như yoga, zumba, võ thuật, và nhiều môn thể thao đa dạng khác.
                <br />
                <img src="~/Content/Home/images/dayhoc 1.jpg" alt="Image" class="img-gt">

            <p>
        </div>
    </div>
</div>


