
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quên Mật Khẩu</h2>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="email">Email:</label>
        @Html.TextBox("email", null, new { @class = "form-control", placeholder = "Nhập email của bạn" })
    </div>

    <button type="submit" class="btn btn-primary">Gửi Yêu Cầu</button>
}

