
@{
    ViewBag.Title = "Csvc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>
<div class="container">
    <br /><br /><br /><br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Giới Thiệu </h2>
        </div>
        <div class="panel-body">
            <h3>Giới Thiệu cơ sở vật chất </h3>
            <p>
                Cơ sở vật chất trung tâm là tất cả các phương tiện được sử dụng cho mục đích giảng dạy, học tập và các hoạt động khác liên quan đến
                đào tạo tại trung tâm nhằm giúp giáo viên nâng cao chất lượng giảng dạy và học sinh nâng cao khả năng tiếp thu, lĩnh hội, trải nghiệm kiến thức,
                đồng thời rèn luyện và hoàn thiện các kỹ năng cần thiết trong quá trình học tập tại trung tâm.
                Trung tâm còn cung cấp các dịch vụ với mục đích phục vụ cho người dùng trải nghiệm tốt nhất
                Các dụng cụ thể thao được thay mới liên tục , các sự kiện được tổ chức tốt hơn.
                <img src="~/Content/Images/Csvc/csvc1.png" class="img-gt">
                Sân đá bóng: Không gian rộng rãi, sân cỏ mềm mại, đáp ứng mọi nhu cầu cho các trận đấu sôi động cùng bạn bè và đồng đội.

                <img src="~/Content/Images/Csvc/csvc4.jpg" alt="Image" class="img-gt">
                Hồ bơi: Bể bơi thoáng đãng, nước trong xanh và sạch sẽ, lý tưởng cho việc tận hưởng những giây phút bơi lội thư giãn.
                Nhân viên phục vụ chuyên nghiệp, đảm bảo an toàn và tận tâm đồng hành cùng bạn.
                <img src="~/Content/Images/Csvc/csvc5.jpg" alt="Image" class="img-gt">
                Sân cầu lông: Khu vực chuyên dành cho các tín đồ cầu lông, đảm bảo điều kiện tốt nhất để rèn luyện kỹ thuật và thể lực.
                Nhân viên luôn sẵn sàng hỗ trợ và đáp ứng mọi yêu cầu của bạn.
            </p>
            <h3>Hãy đến và trải nghiệm ngay, chúng tôi cam kết mang đến cho bạn những khoảnh khắc thể thao tuyệt vời và đáng nhớ tại sân vận động của chúng tôi.</h3>
            <p>
                Vị trí trung tâm: Sân vận động của chúng tôi nằm ở vị trí trung tâm của thành phố, thuận tiện và dễ dàng tiếp cận từ mọi nơi.
                Bạn sẽ không phải đi xa để tìm đến không gian thể thao lý tưởng.
                <img src="~/Content/Images/Csvc/csvc2.jpg" alt="Image" class="img-gt">
                Không gian năng động: Sân vận động được thiết kế với không gian rộng rãi, đảm bảo đáp ứng mọi nhu cầu của các hoạt động thể thao đa dạng. Từ sân bóng đá, sân cầu lông, đến hồ bơi và nhiều hoạt động thể thao khác, chúng tôi sẵn lòng phục vụ bạn
                Tinh thần thể thao luôn đổi mới: Chúng tôi luôn duy trì không khí sôi động và tinh thần thể thao năng động tại sân vận động. Đội ngũ nhân viên nhiệt tình và chuyên nghiệp luôn hỗ trợ và tạo điều kiện tốt nhất cho các hoạt động thể thao của bạn.
                Chúng tôi không ngừng cập nhật và đổi mới để đáp ứng sự đa dạng và đòi hỏi ngày càng cao của cộng đồng thể thao.
                <img src="~/Content/Images/Csvc/csvc3.jpg" alt="Image" class="img-gt">
              

            <p>
        </div>
    </div>
</div>
