QLTT/.vs/QLTT/config/applicationhost.config
/QLTT/.vs/QLTT/FileContentIndex
/QLTT/.vs/QLTT/FileContentIndex
QLTT/QLTT/bin/QLTT.dll.config
/QLTT/QLTT/bin
QLTT/QLTT/Models/Model1.Designer.cs
QLTT/.vs/QLTT/v17/.suo


.vs/
*.suo
*.user
*.sln.docstates
bin/
obj/
QLTT/.vs/QLTT/FileContentIndex/41de6d17-7767-49ed-ada2-269e483c1fb3.vsidx
/QLTT/.vs/QLTT/FileContentIndex
QLTT/.vs/QLTT/v17/.suo
QLTT/.vs/QLTT/config/applicationhost.config
QLTT/QLTT/obj/Debug/QLTT.csproj.AssemblyReference.cache
QLTT/QLTT/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
QLTT/QLTT/.vs/QLTT.csproj.dtbcache.json
QLTT/.vs/QLTT/v17/DocumentLayout.json
QLTT/.vs/QLTT/v17/.suo
