@model Test.Composite.BookingInfoComposite

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblNhanVien</h4>
    @Html.Raw(Model.GetHtml())
</div>
<p>
    @Html.ActionLink("Xem", "Edit", new { id = Model.maNV }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>