@model Composite.BookingInfoComposite
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Details</h2>
<div>
    @Html.Raw(Model.GetHtml())
</div>
<p>
    @Html.ActionLink("Xem", "Edit", new { id = Model.maNV }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>